#menu
{
    background-color: white;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#menu content
{
    background-color: white;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#menu .m1
{
    background-color: white;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}