<ion-app>

  <ion-menu side="start"
   menuId="menu"
   contentId="principal" background="white"> 
   <ion-toolbar color="danger">       
     <ion-title>Inicio</ion-title>     
   </ion-toolbar>
  <ion-content>
      <ion-list>
        <ion-item class="m1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="create-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aplicar a un empleo</ion-item>
        <ion-item class="m2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="clipboard-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Crear vacante</ion-item>
        <ion-item class="m3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="color-wand-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acerca de UPTemplea</ion-item>
        <ion-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="document-text-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Preguntas frecuentes</ion-item>
        <ion-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="easel-outline"></ion-icon>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Plantel educativo</ion-item>
      </ion-list>
    </ion-content>    
      <ion-toolbar color="danger">       
       <ion-title>Otros</ion-title>     
     </ion-toolbar>
    <ion-content>
      <ion-list>
        <ion-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="documents-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Redes sociales</ion-item>
        <ion-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="book"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Novedades</ion-item>
        
        <ion-item></ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id = "principal"></ion-router-outlet>
</ion-app>