<ion-header [translucent]="true">
  <ion-toolbar color="dark">
      <ion-button (click)="toggleMenu()" slot="start" color="danger">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
     <!-- <ion-menu-button color="danger" menu="menu"></ion-menu-button>-->
    <ion-title> 
    &nbsp;&nbsp;&nbsp;<ion-icon name="briefcase"></ion-icon>&nbsp;&nbsp;UPTe Emplea&nbsp;<ion-icon name="body"></ion-icon>
    </ion-title>  
    <ion-button slot="end" color="danger">
      <ion-icon name="exit"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="danger">UPTe Emplea</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
